<div id="{{ .title }}-window" 
    class="w-2/3 h-1/3 m-auto bg-[#c0c0c0] border-2 border-l-slate-200 border-t-slate-200 border-r-black border-b-black p-1 flex flex-col absolute">
    <div id="{{ .title }}-window-header" class="w-full h-fit pl-1 bg-[#000080] text-white font-bold">
        <span class="select-none">{{ .title }}</span>
    </div>
    <div class="mt-1 flex-grow border-2 border-b-slate-200 border-l-slate-400 border-r-slate-200 border-t-slate-400">
        <iframe src="{{ .src }}" frameborder="0" class="w-full h-full"></iframe>
    </div>
</div>