<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body>
        <div id="content">
            <div class="w-screen h-screen overflow-x-hidden bg-[url('/img/profile/background.webp')] bg-cover bg-no-repeat scrollbar-thin scrollbar-thumb-slate-600 scrollbar-track-gray-800 scrollbar-thumb-rounded-lg">
                <div class="w-full min-h-full bg-cover bg-slate-800/55 flex">
                    {{- block "main" . }}{{- end }}
                </div>
            </div>
        </div>
    </body>
</html>
