{{ define "main" }}
<div class="overflow-x-hidden w-screen h-screen backdrop-blur-md bg-[url('/img/profile/background.webp')] bg-cover bg-no-repeat">
    <div class="w-full min-h-full bg-cover pt-16 pb-16 bg-slate-800/55">
        <div class="w-3/4 p-8 m-auto bg-zinc-800/85 flex-col rounded-lg border-zinc-700 border-2 backdrop-blur-md">
            {{ partial "single/metadata.html" . }}
            <div id="title" class="w-full text-center text-white font-black text-7xl mb-8">{{ .Title }}</div>
            
            <div id="metadata"></div>
            <article class="prose prose-xl prose-invert max-w-none">
                {{ .Content }}
            </article>
        </div>
    </div>
</div>
{{ end }}