<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
        {{- partial "jsassetinclude.html" (dict "context" . "path" "js/desktop/clockhandler.js") -}}
        {{- partial "jsassetinclude.html" (dict "context" . "path" "js/desktop/windowhandler.js") -}}
    </head>

    <body id="desktop" class="bg-[#008080] w-screen h-screen overflow-hidden relative">
        {{- partial "desktop/icon/iconlist.html" . -}}
        {{- partial "desktop/taskbar/taskbar.html" . -}}
    </body>

    {{ partial "desktop/desktopstarter.html" . }}

</html>