<div class="w-full h-full bg-[#0000aa] flex">
    <div class="m-auto font-mono w-3/5 text-xl">
        <div id="caption" class="bg-gray-400 w-fit mx-auto mb-8 p-4 text-4xl font-black text-[#0000aa]">DaengOS</div>
        <div class="text-gray-400 font-bold">
            <div id="err-text" class="mb-4">
                A fatal exception 0E has occured at 0x404. The current site could not be found.
            </div>
            <div id="user-opts" class="mb-4">
                * Press any desktop icon to find existing pages.<br>
                * Press SHIFT + F5 to reload the page without caching.
            </div>
            <div class="text-center">
                Close this window after reading...
            </div>
        </div>

    </div>
</div>