<div id="headbar" class="h-1/6 min-h-28 border-2 border-t-gray-600 border-l-gray-600 border-b-slate-200 border-r-slate-200 relative flex">
    <div class="absolute left-0 h-full w-1/6 p-4">
        {{ partial "minesweeper/sevensegment.html" (dict "id" "left-display") }}
    </div>
    <div onclick="initGame()" class="m-auto h-4/5 w-1/6 border-2 border-t-slate-200 border-l-slate-200 border-b-gray-600 border-r-gray-600 flex">
        {{ partial "minesweeper/emoji.html" . }}
    </div>
    <div class="absolute right-0 h-full w-1/6 p-4">
        {{ partial "minesweeper/sevensegment.html" (dict "id" "right-display") }}
    </div>
</div>