{{ $metaData := slice
(dict "path" "single/path-author.html" "content" .Params.author)
(dict "path" "single/path-date.html" "content" (.Date | time.Format ":date_medium"))
(dict "path" "single/path-tags.html" "content" .Params.tags)
(dict "path" "single/path-wordcount.html" "content" (printf "%v Words | %v Minutes" .WordCount .ReadingTime)) }}

<div id="metadata" class="text-gray-500 font-bold">
    {{ range $metaData }}
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 inline">
                {{ partial .path . }}
            </svg>
            {{ .content }}
        </div>
    {{ end }}   
</div>

  