{{ $filePath := "css/styles.css" }}
{{ if .Site.IsServer}}
    {{ $time := now }}
    {{ $filePath = printf "css/styles-%s.css" $time }}
{{ end }}
{{ $styles := resources.Get "css/styles.scss"
    | toCSS
    | postCSS (dict "config" "./assets/css/postcss.config.js")
    | resources.ExecuteAsTemplate $filePath . 
}}
{{ if not .Site.IsServer }}
    {{ $styles = $styles | minify | fingerprint | resources.PostCSS }}
{{ end }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
<meta charset="UTF-8">