{{ define "main" }}
    {{ $smLeft := slice 
        (dict "link" "https://github.com/daenges" "img" "/img/profile/github-mark.svg" ) 
        (dict "link" "https://www.linkedin.com/in/daenges" "img" "/img/profile/linkedin-mark.svg" ) 
    }}

    {{ $smRight := slice 
        (dict "link" "mailto:Daenges@proton.me" "img" "/img/profile/mail-mark.svg" ) 
        (dict "link" "https://www.youtube.com/@daenges" "img" "/img/profile/youtube-mark.svg" )
    }}
    <div>
        <div class="w-screen h-screen">
            {{ partial "profile/profilepic.html" . }}
            <div class="w-full h-1/6 pt-4 bg-slate-800 border-t-2 border-zinc-700 flex relative">
                <div class="w-full absolute z-0">
                    <img src="/img/profile/arrow-up.webp" alt="" class="mx-auto animate-pulse" style="transform: scale(0.75);">
                </div>
                <div id="socials-left" class="h-full w-1/2 pl-10 pr-10 z-10">
                    {{ partial "profile/sociallinklist.html" (dict "linkDict" $smLeft) }}
                </div>
                <div id="socials-right" class="h-full w-1/2 pl-10 pr-10 z-10">
                    {{ partial "profile/sociallinklist.html" (dict "linkDict" $smRight) }}
                </div>
            </div>
        </div>
        <div class="w-full h-fit mx-auto bg-slate-800 bg-hero-circuit-board animate-scrollBackgroundDown">
            <div class="w-full h-full backdrop-blur-[3px]">
                <div id="gradient-top" class="h-16 w-full bg-gradient-to-b from-slate-800"></div>
                <div class="rounded-lg m-3 p-4 bg-zinc-800 border-2 border-zinc-700">
                    <div id="content" class="prose prose-invert max-w-none md:prose-2xl lg:prose-base">
                        {{ .Content }}
                    </div>
                </div>
                <div id="gradient-bottom" class="h-16 w-full bg-gradient-to-t from-slate-800"></div>
            </div>
        </div>
    </div>
{{ end }}